            body {
                color: white;
                background-color: #33001a;
                display: flex;
                flex-direction: column;
            }    

            h1 {
                color: #99e6ff;
                text-decoration: underline;
            }

            strong {
                color: #ffcc33;
            }

            strong:hover {
                color: #ffecb3;
                text-decoration: underline;
            }

            a {
                color: #ffcccc;
                text-decoration: none;
                font-weight: bolder;
            }

            a:hover{
                color: #ff9999;
                text-decoration: underline;
            }

            #menu {
                list-style-type: none;
                margin: 20;
                padding: 20;
                display:flex;
                justify-content: space-around;
                align-items: center;
            }
            
            #loutre {
                height:100px;
            }
            
            #titre {
                display:flex;
                flex-direction:row;
                align-items: center;
                justify-content: flex-start;
            }
            
            html, body {
                height: 100%;
            }
            .content {
              flex: 1 0 auto;
            }
            .footer {
              flex-shrink: 0;
            }